@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
//--------------------------------------------------------------------------
$main-font: 'Noto Sans SC',
sans-serif;
$title-font: 'Saira Extra Condensed',
sans-serif;
$degrees: 'Staatliches',
cursive;
//--------------------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(238, 238, 238);
}

body {
    background: rgb(27, 27, 27);
    font-family: $main-font;
}

header {
    position: absolute;
    height: 40px;
    width: 100%;
    background: rgb(255, 123, 0);
    text-align: center;
    top: 0;
    & .instructions {
        font-size: 18px;
        position: relative;
        top: 5px;
        color: black;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.list-container {
    // display: flex;
    position: absolute;
    top: 10%;
    justify-content: center;
    padding-bottom: 50px;
    & ul {
        list-style: none;
        font-size: 0.9rem;
        font-weight: 600;
        color: rgb(46, 24, 0);
        line-height: 2rem;
        // padding: 10px;
        width: 300px;
        text-align: center;
        & li {
            padding: 5px;
            background: rgb(235, 235, 235);
            border-radius: 2px;
            margin-bottom: 10px;
            color: black;
            border: 1px solid rgba(0, 0, 0, 0);
            &:hover {
                cursor: pointer;
                color: rgb(255, 155, 49);
                background: black;
                border: 1px solid rgb(255, 123, 0);
            }
        }
    }
    & .error-div {
        position: absolute;
        background: rgb(228, 228, 228);
        border-radius: 5px;
        font-family: $main-font;
        font-weight: 600;
        padding: 20px;
        display: none;
        & #error {
            color: black;
        }
    }
}

input[type="text"] {
    position: absolute;
    border: 0;
    width: 200px;
    font-family: $main-font;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    border: 2px solid rgb(255, 123, 0);
    transition: all ease 0.3s;
    transform: translate(0, 250%);
    color: black;
    z-index: 1;
    &:focus {
        width: 280px;
        outline: none;
    }
}

.weather-container {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    height: 600px;
    top: 15%;
    & #weather-info {
        position: absolute;
        display: none;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: rgb(12, 12, 12);
        top: 10%;
        & .title-div {
            font-family: $title-font;
            font-size: 1.5em;
            width: 400px;
            line-height: 3.5rem;
            margin-bottom: 20px;
            & h1.title {
                text-align: center;
            }
            & #location {
                color: rgb(255, 123, 0);
            }
        }
        & .info-div {
            position: absolute;
            display: flex;
            justify-content: center;
            align-content: center;
            // background: rgba(238, 238, 238, 0.5);
            border-radius: 2px;
            height: 400px;
            width: 400px;
            font-size: 18px;
            top: 100%;
            & .temp-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                height: 120px;
                width: 200px;
                font-family: $degrees;
                & h2#temp {
                    font-size: 3em;
                    font-weight: 500;
                    // cursor: pointer;
                }
                & span#symbol {
                    margin-bottom: 20px;
                    margin-left: 5px;
                    font-size: 2.5em;
                }
                span#degree {
                    margin-bottom: 20px;
                    margin-left: 5px;
                    font-size: 2em;
                }
                & #icon {
                    width: 50px;
                    height: 50px;
                    background: 100%;
                    margin-right: 10px;
                }
            }
            & .min-and-max {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                padding: 10px;
                height: 120px;
                width: 200px;
                & p {
                    line-height: 3em;
                }
                & span {
                    margin-left: 20px;
                }
                & .minmax {
                    color: gray;
                }
            }
            & .description-container {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 400px;
                top: 30%;
            }
            & .misc-container {
                position: absolute;
                display: inline-flex;
                justify-content: center;
                align-content: center;
                top: 45%;
                line-height: 1.5em;
                & .info-1-container {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 200px;
                    height: 150px;
                    text-align: center;
                    margin-bottom: 20px;
                    & p#humidity {
                        // border-bottom: 1px solid rgb(0, 0, 0);
                        padding-bottom: 15px;
                    }
                }
                & .info-2-container {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 200px;
                    height: 150px;
                    text-align: center;
                    & p#pressure {
                        // border-bottom: 1px solid rgb(0, 0, 0);
                        padding-bottom: 15px;
                    }
                }
                & p.misc-p {
                    padding-top: 20px;
                    color: gray;
                }
            }
        }
    }
}

footer {
    position: fixed;
    height: 30px;
    width: 100%;
    background: rgb(255, 123, 0);
    bottom: 0;
    text-align: center;
    & span {
        color: black;
        font-size: 12px;
        margin-left: 10px;
    }
    & a {
        color: white;
        text-decoration: none;
    }
    & #owm-link {
        margin: 0;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        display: none;
    }
}

@media only screen and (max-height: 800px) {
    .list-container {
        transform: translate(0, 15%);
    }
}