@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed|Noto+Sans+SC|Staatliches');
//--------------------------------------------------------------------------
$main-font: 'Noto Sans SC', sans-serif;
$title-font: 'Saira Extra Condensed', sans-serif;
$degrees: 'Staatliches', cursive;
//--------------------------------------------------------------------------
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(27, 27, 27);
	font-family: $main-font;
	font-size: 18px;
}

main {
	min-height: 100%;
}

header {
	position: absolute;
	height: 40px;
	width: 100%;
	background: rgb(255, 123, 0);
	text-align: center;
	top: 0;
	& .instructions {
		font-size: 18px;
		position: relative;
		top: 5px;
		color: black;
	}
}

.input-container {
	position: relative;
	top: 4em;
	text-align: center;
	z-index: 1;
}

input {
	padding: 10px 20px;
	text-align: center;
	border: 2px solid rgb(255, 123, 0);
	border-radius: 5px;
	width: 180px;
	transition: all 0.2s ease;
	&:active {
		outline: none;
	}
	&:focus {
		width: 300px;
		outline: none;
		border-radius: 25px;
	}
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.list-container {
	position: relative;
	top: 4em;
}

.locations-list {
	position: relative;
	list-style: none;
}

.locations-list li {
	padding: 10px 20px;
	margin: 20px 0;
	background-color: #ebebeb;
	border: 2px solid #000;
	border-radius: 3px;
	&:hover {
		cursor: pointer;
		background-color: #000;
		color: rgb(255, 123, 0);
		border-color: rgb(255, 123, 0);
	}
}

.weather-container {
	position: relative;
	top: 6em;
	color: #fff;
	margin-bottom: 50px;
}

.weather-info {
	display: flex;
	flex-direction: column;
}

.weather-info__title {
	font-family: $title-font;
	font-size: 3rem;
	margin-bottom: 30px;
	text-align: center;
}

.weather-info__temp {
	position: relative;
	display: inline-flex;
	justify-content: space-evenly;
}

.weather-info__location {
	color: rgb(255, 123, 0);
}

.temp-container {
	display: flex;
	height: 100%;
	font-family: $degrees;
}

.icon {
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

.minmax-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.minmax,
.misc-p {
	margin: 10px 0;
	color: #a5a5a5;
	text-align: center;
}

.min-temp,
.max-temp {
	color: #fff;
}

.temperature {
	font-size: 3rem;
	font-weight: 500;
	&:hover {
		cursor: pointer;
	}
}

.symbol,
.degree {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 5px;
}

.weather-info__description {
	text-align: center;
	padding: 20px 0;
}

.weather-info__misc {
	display: flex;
	justify-content: space-around;
}

.humidity,
.windSpeed,
.pressure,
.windDirection {
	text-align: center;
}

.error-message {
	position: relative;
	top: 3em;
	padding: 15px 30px;
	background-color: #be9494;
	border: 2px solid #5f1010;
	color: #000;
	border-radius: 5px;
}

footer {
	position: fixed;
	height: 30px;
	width: 100%;
	background: rgb(255, 123, 0);
	bottom: 0;
	text-align: center;
	& span {
		color: black;
		font-size: 12px;
	}
	& a {
		color: white;
		text-decoration: none;
	}
	& .owm-link {
		margin: 0;
	}
}

@media (max-width: 414px) {
	header {
		display: none;
	}
	.input-container {
		top: 1.5em;
	}
	.list-container {
		top: 2em;
	}
	.weather-container {
		top: 2em;
	}
}
